/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url("../images/estela.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/* Header & Navbar */
header {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn {
    margin-left: 2rem;
}

svg {
    fill: white;
}

.navbar-items {
    height: 0;
    overflow: hidden;
    margin-left: 2rem;
    transition: height 1s ease;
}

.open-navbar {
    height: 15rem;
}

.navbar-items a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1.5;
    transition: color .2s ease;
}

.navbar-items a:hover {
    color: #caa800;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
}

img {
    width: 100px;
}

/* Main style */
/* Main style */
.title {
    color: white;
    text-align: center;
    margin: 1rem 0 0 0;
}

.tabla {
    background-color: #ffffff;
    text-align: left;
    margin: 1rem auto;
    border: 1px solid #222831;
    border-collapse: collapse;
    width: 90%;
    font-size: 16px;
}

th, td {
    padding: 1rem 0;
}

thead > tr {
    background-color: #caa800;
    color: #ffffff;
    border-bottom: 5px solid #222831;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #222831;
}

tbody > tr {
    padding: 0 0 0 1rem;
}

/* Responsive table */
table, thead, tbody, tr, td {
    display: block;
}

thead tr th {
    display: none;
}

tbody tr td:nth-child(1) {
    display: none;
}

tbody th {
    display: inline-block;
    width: 34%;
}

tbody td:nth-child(2),
tbody td:nth-child(3) {
    display: inline-block;
    width: 49%;
    text-align: center;
}

thead tr th:nth-child(2),
thead tr th:nth-child(3) {
    display: inline-block;
    width: 49%;
    padding: 2% 5%;
    text-align: center;
}

tbody td:nth-of-type(n+4) {
    font-size: 12px;
}

tbody td:nth-of-type(n+4)::before {
    content: attr(title)": ";
    font-weight: 600;
}
tbody td:nth-child(7)::before {
    content: '';
}

/* hover carrousel */
tbody tr {
    height: 4rem;
    overflow: hidden;
    transition: height 1s ease;
}

tbody tr:hover {
    height: 18rem;
}

.eliminar-btn {
    width: 94%;
    background-color: #ca2800;
    border: none;
    border-radius: 2rem;
    color: #ffffff;
    padding: 1rem;
    transition: background-color .2s ease;
}

.eliminar-btn:hover {
    background-color: #393E46;
    cursor: pointer;
}

/* Desktop style */
@media(min-width: 769px){
    body {
        display: flex;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0 1rem 0 0;
    }
    
    .menu-btn {
        display: none;
    }

    .logo {
        width: 200px;
        height: 200px;
        margin: 0;
    }
    img {
        width: 200px;
    }

    .navbar-items {
        display: block;
        margin-left: 0;
        height: auto;
        padding: 0 0 0 1rem;
        width: 15rem;
    }

    .navbar-items a {
        font-size: 2rem;
        line-height: 2;
    }

    .reservas {
        width: 100%;
    }

    /* Responsive table */
    table {
        display: table;
    }

    thead {
        display: table-header-group;
    }
    
    tbody {
        display: table-row-group;
    }

    tbody tr td:nth-child(n) {
        font-size: .7rem;
    }

    tr {
        display: table-row;
    }

    td,
    tbody tr td:nth-child(n),
    thead tr th,
    tbody td:nth-child(n) {
        display: table-cell;
    }

    thead tr th:nth-child(n) {
        display: table-cell;
        width: auto;
        padding: 1rem;
        text-align: center;
    }

    td {
        padding: 1rem;
    }

    tbody td:nth-of-type(n) {
        font-size: 1rem;
    }

    tbody td:nth-of-type(n)::before {
        content: "";
        font-weight: initial;
    }

    /* hover carrousel */
    tbody tr {
        height: auto;
        overflow: initial;
    }

    tbody tr:hover {
        height: auto;
    }

}