@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #222831;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #00ADB5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #393E46;
}