/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
}

/* Header & Navbar */
header {
    background-color: #ffffff;
    padding: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn {
    margin-left: 2rem;
}

.navbar-items {
    display: none;
    margin-left: 2rem;
}

.navbar-items a {
    color: #222831;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar-items a:hover {
    color: #00ADB5;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
}

img {
    width: 10rem;
}

/* Main style */
.title {
    text-align: center;
}

.reservas {
    width: 100%;
}

.tabla {
    background-color: #ffffff;
    text-align: left;
    margin: 1rem;
    border: 1px solid #222831;
    border-collapse: collapse;
}

th, td {
    padding: 2rem 0;
}

thead {
    background-color: #00ADB5;
    color: #ffffff;
    border-bottom: 5px solid #222831;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #222831;
}

/* Desktop style */
@media(min-width: 769px){
    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 25rem;
        padding: 2rem 0 0 2rem;
    }
    
    .menu-btn {
        display: none;
    }

    .logo {
        width: 20rem;
        height: 20rem;
    }
    img {
        width: 20rem;
    }


    .navbar-items {
        display: block;
        margin-left: 0;
    }

    body {
        display: flex;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .reservas {
        width: auto;
    }

    th, td {
        padding: 20px;
    }
}